{% extends "base.html" %}


{% block body %}
    <h1 align="center">Обучение IT</h1>
<div class="menu">
    <ul class="ulmenu">
        <li class="ullimenu">
            <a href="/studentlist/" class="linkli">
                Студенты
            </a>
        </li>
        <li class="ullimenu">
            <a href="/courseapi/" class="linkli">
                Курсы(файл)
            </a>
        </li>
    </ul>
</div>
    <h3 align="left">Информация обновляется, попробуйте зайти позднее</h3>
{% endblock %}

