{% extends "base.html" %}


{% block body %}
    <h1 align="center">Регистрация</h1>
    <h3>
        <form method="post">
            <fieldset>
                <h2>Форма регистрации </h2><br><br><br>
                <label for="first_name">Имя: </label> <input type = "text"  name = "first_name" value =  "Введите имя"> <br> <br>
                <label for="last_name">Фамилия: </label><input type = "text" name = "last_name" value =  "Введите фамилию"> <br> <br>
                <label for="login">Имя для входа на сайт: </label><input type = "text" name = "login"><br><br>
                <label for="email">Ваш e-mail: </label><input type = "email" name = "email"><br><br>
                <label for="sex">Мужчина</label><input  type = "radio" name = "sex" value =  "m" checked>
                <label for="sex">Женщина</label><input type = "radio" name = "sex" value =  "w"> <br> <br>
                <input type = "radio" name = "age" value = "low"><label for="age">Меньше 18</label><br>
                <input type = "radio" name = "age" value = "2old"><label for="age">От 18 до 35</label><br>
                <input type = "radio" name = "age" value = "high"><label for="age">Больше 35</label><br><br><br>
                <label for="password">Пароль: </label><input type = "password" name = "password"> <br> <br>
                <br>
                <input type="submit" value="Зарегистрироваться">
                <input type="reset">
            </fieldset>
        </form>
    </h3>
{% endblock %}